@import "../../styles";
.main {
    font-family: $font-family;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $layout-breakpoint-medium) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

