@import "../../styles/";

.matches {
  width: 40%;
  &__row {
    margin: 5px 0;
    display: flex;
    justify-content: center;
  }
  .team {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .team:first-child {
    text-align: right;
  }

  .score {
    margin: 0 5px;
  }
  @media screen and (max-width: $layout-breakpoint-medium) {
    width: 90%;
  }
}
