@mixin animation($duration, $name, $iteration) {
  @keyframes hideAnimation {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    20% {
      visibility: visible;
      opacity: 1;
    }
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $iteration;
}
