@import "../../styles/";
section.table {
  width: 55%;

  table {
    width: 100%;
    border-spacing: unset;
    border: 2px solid $blue-500;
    text-align: center;
    border-collapse: collapse;
    thead {
      background-color: $grey-100;
    }
    th {
      padding: 7px 0;
      border: 1px solid $grey-200;
    }
    td {
      border: 1px solid $grey-200;
    }
  }
  @media screen and (max-width: $layout-breakpoint-medium) {
    width: 90%;
  }
}
